import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.LookupDiscovery;
import net.jini.core.entry.Entry;
import java.io.File;
import com.sun.jini.config.ConfigUtil;

ServiceDescription {
    localhost = ConfigUtil.getHostName();
    port = "80";
    directory = "/classes";
    file = "starter.ServiceDescription-dl.jar";

    codebase =   ConfigUtil.concat(new String[] {
                                           "http://",
                                           localhost,
                                           ":",
                                           port,
                                           directory,
                                           "/",
                                           file
                                       }
                                  );

   // codebase =    
   //	"http://192.168.1.13:8080/classes/starter.ServiceDescription-dl.jar";
    policy = "policy.all";
    classpath = "/home/httpd/html/java/jini/tutorial/dist/starter.ServiceDescription-start.jar";
    implClass = "starter.FileClassifierStarterImpl";
    serverConfigArgs = new String[] {
          "/home/httpd/html/java/jini/tutorial/resources/starter/file_classifier.config"
       };
}

AdvertDescription {
    entries = new Entry[] {};
    groups = LookupDiscovery.ALL_GROUPS;
    unicastLocators = new LookupLocator[] { // empty
                                          };    
    serviceIdFile = new File("serviceId.id"); 
}
