import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

ServiceIdDemo {
    private static codebase =    
        "http://192.168.1.13:8080/file-classifier-dl.jar";
    private static policy = "policy.all";
    private static classpath = "file-classifier.jar";
    private static config = "resources/starter/file_classifier.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "config.FileClassifierServerConfig",
                         new String[] { config })
    };
}

