import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://jan.netcomp.monash.edu.au:8080/reggie-dl.jar";
    private static policy = "/usr/local/reggie/reggie.policy";
    private static classpath = "/usr/local/jini2_0/lib/reggie.jar";
    private static config = "/usr/local/reggie/transient-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.reggie.TransientRegistrarImpl",
                         new String[] { config })
    };
}

