import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

import java.net.URL;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;

HttpFileSourceServer {
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory()); 
    url = new URL("http://192.168.1.11/internetdevices/jmf/long.wav");
    entries = new Entry[] {new Name("Sting")};
}
