import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import com.sun.jini.config.ConfigUtil;

import java.net.InetSocketAddress;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;

TcpTunerServer {
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                                     new BasicILFactory()); 
    localhost = ConfigUtil.getHostName();
    sockAddr = new InetSocketAdress(localhost, 8189);
    entries = new Entry[] {new Name("Tuner")};
}
