import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import com.sun.jini.config.ConfigUtil;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import java.io.File;

ServiceCodebaseDemo {

    // If the HTTP server for classes is running on the
    // local machine, use this for the codebase 
    localhost = ConfigUtil.getHostName();
    port = "80";
    directory = "/classes";

    // codebase = http://"localhost":80/classes
    codebase =   ConfigUtil.concat(new String[] {
                                           "http://",
                                           localhost,
                                           ":",
                                           port,
                                           directory
                                       }
                                  );   
}
