/* Configuration source file for an SSL server */

import java.security.Permission;

import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.Integrity;
import net.jini.jeri.*;
import net.jini.jeri.ssl.*;

security.FileClassifierServer {

    /* class name for the service */
    serviceName = "rmi.FileClassifierImpl";

    /* Exporter for the server proxy */
    exporter =
	/* Use secure exporter */
	new BasicJeriExporter(
	    /* Use SSL transport */
	    SslServerEndpoint.getInstance(0),
            new BasicILFactory(
		/* Require integrity for all methods */
		new BasicMethodConstraints(
		    new InvocationConstraints(
				(InvocationConstraint[]) null, 
				(InvocationConstraint[]) null)),
		/* No Permission */
		null
            )
        );
}
