

import java.security.Permission;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.Integrity;
import net.jini.security.BasicProxyPreparer;
import net.jini.constraint.BasicMethodConstraints;

client.TestFileClassifierProxyPreparer {

   preparer =
        new BasicProxyPreparer(
            /* Verify the proxy. */
            true,
            /* No constraints */
            new BasicMethodConstraints(
                new InvocationConstraints(
                    new InvocationConstraint[] {
                        Integrity.YES
                    },
                    null
                )
            ),
            new Permission[] {}
        );
}
