

import java.security.Permission;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.security.BasicProxyPreparer;
import net.jini.constraint.BasicMethodConstraints;

client.TestFileClassifierProxyPreparer {

   preparer =
        new BasicProxyPreparer(
            /* Don't verify the proxy. */
            false,
            /* Require authentication as anyone  */
            new BasicMethodConstraints(
                new InvocationConstraints(
                    new InvocationConstraint[] {
                        ServerAuthentication.YES
                    },
                    null
                )
            ),
            new Permission[] {}
        );
}
