/* config file to allow authentication to a server that asks for it */

import java.security.Permission;
import net.jini.security.AuthenticationPermission;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.security.BasicProxyPreparer;
import net.jini.constraint.BasicMethodConstraints;
import com.sun.jini.config.KeyStores;
import net.jini.core.constraint.ServerMinPrincipal;

client.TestFileClassifierProxyPreparer {

   /* Keystore for getting principals */
   private static users=
        KeyStores.getKeyStore("file:resources/security/truststore.client", null);
   private static serverUser = 
        KeyStores.getX500Principal("server", users);
   private static clientUser = 
        KeyStores.getX500Principal("client", users);

   preparer =
        new BasicProxyPreparer(
            /* Don't verify the proxy. */
            false,
            /* Require authentication as "server"  */
            new BasicMethodConstraints(
                new InvocationConstraints(
                    new InvocationConstraint[] {
	                ClientAuthentication.YES
                    },
                    null
                )
            ),
            new Permission[] {
               //  new AuthenticationPermission("javax.security.auth.x500.X500Principal \"CN=client\"", "connect")
           }
        );
}
